#secondary.drill-page-sidebar {
  .wrapper {

    .sidebar-highlight {
      position:relative;
      text-align:center;
      background-color:#000;

      a {
        text-decoration:none;
        cursor: pointer;

        &:hover img {
          opacity:1;
        }

        &:hover span {
          opacity:0;
          padding-top:1em;
        }
      }

      img {
        display:block;
        opacity:.6;
        width:100%;
        transition:opacity .5s ease-in-out;

        @include respond-to(medium) {
          width: 420px;
          max-width: 750px;
        }

        @include respond-to(large) {
          width: 550px;
        }

        @include respond-to(x-large) {
          // width: 475px;
        }

        @include respond-to(xx-large) {
          width: 550px;
        }
      }

      .span-wrapper {
        display:block;
        position:absolute;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        top: 0;
        right:15%;
        left:15%;
        margin-top: 25%;
        padding: 5px 0;
        line-height:1;
        transition:opacity .35s ease-in-out, padding .35s ease-in-out;

        .span-text {
          color:#FFF;
          font-size:1.8em;
          font-family: $font__regular;
          text-shadow:2px 2px 4px rgba(0, 0, 0, 1);

          @include respond-to(med-small) {
            // font-size: 1.9em;
          }

          @include respond-to(tablet) {
            // font-size: 2em;
          }
        }

        @include respond-to(small) {
          right: 20%;
          left: 20%;

          .span-text {
            font-size: 2.3em;
          }
        }

        @include respond-to(med-small) {
          padding: 10px 0;
          right: 15%;
          left: 15%;
          .span-text {
            font-size: 1.8em;
          }
        }

        @include respond-to(tablet) {
          right: 20%;
          left: 20%;

          .span-text {
            font-size: 1.9em;
          }
        }

        @include respond-to(x-large) {
          // right: 22%;
          // left: 22%;

          .span-text {
            font-size: 1.8em;
          }
        }
      }
    }
  }
}
