.site-footer {
  color: #fff;
  text-align: center;
  @include padding-left-right;
  @include container;
  font-family: $font__bold;
  font-size: .9em;
  padding-top: 1em;
  padding-bottom: 4em;

  @include linx(#fff, #fff, #fff, #fff);

  .footer-message {
    @include font-smooth;
  }

  .contact-information {
    font-family: $font__light;

    a {
      text-decoration: none;
    }

    .company-name {
      font-family: $font__bold;
      color: $color__brand-1;
      text-transform: uppercase;
    }
  }
}