/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

@include linx($color__brand-1, #000, #000, $color__brand-1);

a {

  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

a[x-apple-data-detectors=true] {
 color: inherit !important;
 text-decoration: inherit !important;
}