$font__black: 'source_sans_problack_italic';
$font__bold: 'source_sans_probold';
$font__regular: 'source_sans_proregular';
$font__light: 'source_sans_prolight';


$font__main: $font__light, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;