.page-template-page-about {

  .site-content {

    @include respond-to(med-small) {
      .drill-page-sidebar {
        .wrapper {
          display: flex;
        }
      }
    }

    @include respond-to(medium) {
      .site-content-wrapper {
        display: flex;
        justify-content: space-between;
        // align-items: stretch;
      }
      #primary {
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 0;
      }

      .site-main {
        padding-left: 1em;
      }

      .drill-page-sidebar {
        .wrapper {
          display: block;
        }
      }
    }

    @include respond-to(large) {
      #primary {
        padding-top: 3em;
        max-width: 1000px;
      }

      .site-main {
        padding-left: 0;
      }
    }

    @include respond-to(x-large) {
      #primary {
        max-width: 1200px;
        padding-left: 8em;
        padding-right: 4rem;
      }
    }

    @media screen and (min-width:1620px) {
      #primary {
        // max-width: 1200px;
        padding-left: 10em;

      }
    }

    @media screen and (min-width:1720px) {
      #primary {
        // max-width: 1100px;
        padding-top: 4em;
        padding-left: 12em;
      }
    }

    @include respond-to(xx-large) {
      #primary {
        max-width: 1400px;
        padding-left: 17em;
        padding-right: 8em;
      }
    }

    @media screen and (min-width:2300px) {
      #primary {
        max-width: 1600px;
        padding-top: 4em;
        // padding-left: 15em;
      }
    }
  }

  .certification-section {
    background-color: #fff;

    .certification-wrapper {
      @include container;
      @include padding-left-right;
      @include section-padding;

      h3 {
        font-family: $font__bold;
        @include reset;
        margin-bottom: .2em;
      }

      .certification-wrapper {
        @include section-padding;
      }

      .cert-image-wrapper {
        margin-bottom: 1em;
      }

      @include respond-to(med-small) {
        .cert-image-wrapper {
          display: flex;
          justify-content: space-around;
          align-items: center;

          .image-wrapper {
            padding-left: 10px;
            padding-right: 10px;
          }

        }
      }

      @include respond-to(tablet) {
        // .cert-image-wrapper {
        //   display: flex;
        //   justify-content: space-between;
        //   align-items: center;

        //   .image-wrapper {
        //     padding-left: 10px;
        //     padding-right: 10px;
        //   }
        // }
        .cert-content-wrapper {
          display: flex;
        }

        .col-1,
        .col-2,
        .col-3 {
          padding: 0 .5em;
        }
      }

      @include respond-to(x-large) {
        @include xl-container;

      }
    }
  }
}