.page-template-page-drill-page-sidebar {

  .product-section {
    background-color: #fff;
    margin: 0;
    padding: 0;

    .product-wrapper {
      @include padding-left-right;
      @include section-padding;

      .image-wrapper{
        text-align: center;

        img {
          max-width: 200px;
        }
      }

      .price {
        color: $color__brand-1;
      }
    }

    .callout-section {
      background-color: #000;
      color: #fff;

      a {
        text-decoration: none;
        font-family: $font__bold;
        @include font-smooth;
      }

      .callout-wrapper {
        @include section-padding;
        @include padding-left-right;

        .image-wrapper{
          text-align: center;

          img {
            max-width: 200px;
          }
        }

      }
    }
  }


}