// Alt Page Nav Styles

.alt-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .alt-site-branding {
    display: inline-block;
  }

  .alt-mobile-menu-wrapper {
    text-align: center;
    @include linx(#fff, #fff, #fff, #fff);

    a span, button span {
      font-size: .8em;
    }

    .left-skew {
      @include skew($side: left, $bg: $color__brand-1, $deg: -20deg, $left: -28px, $width: 100px);
    }

    .alt-call-btn {
      display: block;
      width: 105px;
      color: #fff;
      background-color: $color__brand-3;
      text-decoration: none;
      padding: 0 15px;
      margin-left: auto;
      margin-right: 15px;
    }

    #mobile-toggle {
      display: block;
      @include reset;
      width: 105px;
      margin-top: 10px;
      margin-left: 14px;
      border: none;
      border-radius: 0;
    }
  }

  #alt-navigation {
    z-index: 20;
    display: none;
    background-color: $color__brand-1;
    padding: 5px 0;
    margin-top: 15px;

    ul {
      list-style-type: none;


      li {
        display: inline-flex;

        a {
          font-size: 1em;
          text-decoration: none;
          margin-right: 10px;
          font-family: $font__bold;
          text-transform: uppercase;
        }
      }
    }
  }

  @include respond-to(tablet) {
    padding: 1em 1em;
  }

  @include respond-to(medium) {
    padding: 1em 0 0;

    .alt-mobile-menu-wrapper {
      #mobile-toggle {
        display: none;
      }
    }

    #alt-navigation {
      display: inline-flex;


    }
  }
}

