// Alt Page Nav Styles

.alt-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .alt-site-branding {
    display: inline-block;
  }

  .alt-mobile-menu-wrapper {
    text-align: center;

    a {
      &:visited {
        color: #fff;
      }
    }

    a span, button span {
      font-size: .8em;
    }

    .alt-call-btn {
      display: block;
      width: 105px;
      color: #fff;
      background-color: $color__brand-3;
      text-decoration: none;
      padding: 0 15px;
      margin-left: auto;
      margin-right: 15px;
    }

    #mobile-toggle {
      display: block;
      @include reset;
      width: 105px;
      margin-left: auto;
      margin-top: 10px;
      border: none;
      border-radius: 0;
    }
  }

  #alt-navigation {
    display: none;
    // background-color: $color__brand-1;
    position: relative;
    border-bottom: 40px solid $color__brand-1;
    border-left: 25px solid transparent;

    // &:before {
    //   content: '';
    //   position: absolute;
    //   // height: 0px;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   z-index: 10;
    //   border-bottom: 40px solid $color__brand-1;
    //   border-left: 25px solid transparent;
    // }

    ul {
      position: relative;
      margin-left: 40px;
      z-index: 20;
      list-style-type: none;
      @include linx(#000, #000, #000, #000);

      li {
        display: inline-flex;

        a {
          font-size: 1em;
          text-decoration: none;
          margin-right: 10px;
          font-family: $font__bold;
          text-transform: uppercase;
        }
      }
    }
  }

  @include respond-to(medium) {
    padding-top: 1em;

    .alt-mobile-menu-wrapper {
      #mobile-toggle {
        display: none;
      }
    }

    #alt-navigation {
      display: inline-flex;


    }
  }
}

