// Front Page Nav Styles

.main-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .site-branding {
    display: inline-block;
  }

  .mobile-menu-wrapper {
    text-align: center;

    a span, button span {
      font-size: .8em;
    }

    .call-btn {
      display: block;
      width: 105px;
      color: #fff;
      background-color: $color__brand-3;
      text-decoration: none;
      padding: 0 15px;
      margin-left: auto;
      margin-right: 15px;
    }

    #mobile-toggle {
      display: block;
      @include reset;
      width: 105px;
      margin-left: auto;
      margin-top: 10px;
      border: none;
      border-radius: 0;
    }
  }

  .home-desktop-navigation {
    display: none;
    position: absolute;
    z-index: 20000;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    width:220px;
    height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2em;
    text-align: center;

    ul {
      @include reset;
      list-style-type: none;
      margin-top: 8em;
      padding-top: .5em;
      padding-bottom: .5em;

      li {
        margin: .5em 0;
        line-height: 1.6;

        a {
          text-decoration: none;
          color: #fff;
          font-family: $font__regular;
          font-size: 1.2em;
          text-transform: uppercase;
        }
      }
    }
  }

  @include respond-to(tablet) {
    text-align: center;

    .site-branding {
      display: block;
      position: absolute;
      top: 3em;
      left: 2.5em;
      z-index: 30000;

      svg {
        width: 170px;
      }
    }

    .mobile-menu-wrapper {
      display: block;

      .call-btn {
        @include reset;
        position: absolute;
        z-index: 50000;
        width: 135px;
        background-color: $color__brand-1;
        font-size: 1.2em;
        top: 22em;
        left: 4em;
      }

      #mobile-toggle {
        display: none;
      }
    }

    .home-desktop-navigation {
      display: block;
    }
  }

  @include respond-to(large) {

    .site-branding {
      svg {
        width: 200px;
        margin-left: 20px;
      }
    }

    .mobile-menu-wrapper {
      .call-btn {
        width: 155px;
        font-size: 1.2em;
        top: 25em;
        left: 5em;
      }
    }

    .home-desktop-navigation {
      width: 300px;
      height: 600px;

      ul {

        li {

          a {
            font-size: 1.4em;
          }
        }
      }
    }
  }
}
