#masthead {
  background-color: $color__brand-2;
  padding: 1em;
  position: relative;

  ul {
    @include reset;
  }

  .masthead-wrapper {
    // position: relative;
  }

  a[rel="home"] {
      display: table;
  }

  svg {
    display: block;
    width: 140px;
    height: auto;

    @include respond-to(small) {
      width: 160px;
    }

    @include respond-to(large) {
      width: 200px;
      padding-bottom: 14px;
    }

    @include respond-to(x-large) {
      width: 220px;
      padding-bottom: 14px;
    }
  }

  .slant-btn {
    transform: skew(25deg);
    display: inline-block;
  }

  .unslant {
    transform: skew(-25deg);
    display: inline-block;
  }

  @include respond-to(tablet) {
    padding: 0;
  }
}