#masthead {
  background-color: $color__brand-2;
  @include padding-left-right;
  // padding-top: 10px;
  // padding-bottom: 10px;

  @include linx($color__brand-1,$color__brand-1,$color__brand-1,$color__brand-1);

  .masthead-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-branding {
    .logo-link {

      svg {
        max-width: 100px;
      }

    }
  }

  .mobile-menu-wrapper {
    display: block;

    .slant-btn {
      transform: skew(30deg);
      display: inline-block;
    }

    .unslant {
      transform: skew(-30deg);
      display: inline-block;

    }

    .call-btn {
      background-color: $color__brand-3;
      color: #fff;
      text-decoration: none;
      padding: 0 15px;
      text-align: center;
      font-size: .8em;
      float: right;
    }

    #mobile-toggle {
      float: right;
      clear: both;
      border: none;
      border-radius: 0;
      @include reset;
      text-align: center;
      font-size: .8em;
      margin-top: 10px;
      padding-left: 27px;
      padding-right: 27px;
    }

  }

  // .home-desktop-navigation {
  //   display: none;

  // }

  // .page-desktop-navigation {
  //   display: none;

  // }

  // .mobile-navigation {
  //   display: none;
  // }
}