#masthead {
  background-color: $color__brand-2;
  padding: 1em;
  position: relative;

  .masthead-wrapper {
    // position: relative;
  }

  a[rel="home"] {
      display: table;
  }

  @include respond-to(tablet) {
    padding: 0;
  }
}