ul {
	@include reset;
}

.main-navigation {
  ul {
    @include linx($color__brand-1,$color__brand-1,$color__brand-1,$color__brand-1); // remove when finished
  }
}

.slant-btn {
  transform: skew(25deg);
  display: inline-block;
}

.unslant {
  transform: skew(-25deg);
  display: inline-block;
}

/*--------------------------------------------------------------
### Main Navigation Menu Styles
--------------------------------------------------------------*/
@import "main-navigation";

/*--------------------------------------------------------------
### Alt Navigation Menu Styles
--------------------------------------------------------------*/
@import "alt-navigation";

/*--------------------------------------------------------------
### Mobile Navigation Menu Styles
--------------------------------------------------------------*/
@import "mobile-navigation";

/*--------------------------------------------------------------
### Mobile Toggle Button Styles
--------------------------------------------------------------*/
#mobile-toggle {
  display: inline-block;
  color: white;
  background-color: $color__button-background;
  text-align: center;
  padding: 5px 20px;
  margin: 10px;
}

/*--------------------------------------------------------------
### Page/Post Nav Styles
--------------------------------------------------------------*/
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
