// Mobile Nav Styles

#mobile-navigation {
  width: 100%;
  font-family: $font__bold;
  transition:transform .5s ease-out, opacity.5s;
  opacity: 0;
  //transform:scale(1, 0);
  transform:translate3D(0, -150%, 0);
  transform-origin:center top;
  position: absolute;
  z-index: 999999;
  top: 100%;
  background-color:darken($color__brand-1, 5);
  padding-top: 1rem;
  padding-bottom: 1rem;

  &.active {
    //transform:scale(1, 1);
    transform:translate3D(0, 0, 0);
    opacity: 1;
    letter-spacing: 1.5px;
  }

  ul {
    @include reset;
    list-style: none;

    ul {

      ul {
        a {
          padding-left: 5rem;
        }
      }

      a {
        padding-top: .125em;
        padding-bottom: .375em;
        padding-left: 3rem;
        font-family: $font__regular;
        font-size: 1em;
      }
    }
  }

  li {
    position: relative;

    &:hover {
      background-color:darken($color__brand-1, 10);
      width: 100%;
    }
  }

  a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.375em;
    line-height: 1.25;
    padding: .25em 1rem .5em 2rem;
    display: block;
  }

  .current_page_item > a {
    color:#000;

    &:hover {
      cursor: text;
    }
  }
}